<div class="flex items-start space-x-4 mb-6 hidden">
  <div class="relative">
    <img [src]="prod().imageUrl[0]" [alt]="prod().name"
      class="w-20 h-24 object-cover rounded-md border border-gray-200" />
  </div>

  <div class="flex-1">
    <h3 class="font-semibold text-lg text-gray-800">{{ prod().name }}</h3>
    @if(prod().variant && prod().variant?.name){
    <p class="text-sm text-gray-500">
      {{ prod().variant?.name }}
    </p>
    }
    <p class="text-sm text-gray-500">Color: As shown</p>
    <p class="text-sm text-gray-500">Size: {{ prod().stock.name }}</p>


    <!-- Quantity Controls -->
    <div class="flex items-center justify-center gap-2 mt-2 border border-gray-300 rounded hover:bg-gray-100 w-[100px]">
      <button [disabled]="prod().qty == 1" class="w-6 h-6 flex items-center justify-center cursor-pointer"
        [ngClass]="{ 'cursor-not-allowed!': prod().qty == 1 }" (click)="alterQuantityCnt(CartUpdateOperation.decrease)">
        −
      </button>

      <span class="text-sm">{{ prod().qty }}</span>

      <!-- [ngClass]="{ 'cursor-not-allowed!': prod._isDisable }" -->
      <button class="w-6 h-6 flex items-center justify-center cursor-pointer"
        (click)="alterQuantityCnt(CartUpdateOperation.increase)">
        +
      </button>
    </div>

    @if(prod().isShowDelete){
    <!-- Delete Icon (SVG) -->
    <button (click)="removeItemFromCart()"
      class="right-0 top-0 p-1 text-gray-400 hover:text-red-500 transition cursor-pointer">
      <!-- [ngClass]="{ 'cursor-not-allowed!': prod._isDisable }" -->
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1
             0 00-1-1h-4a1 1 0 00-1 1v3m-4 0h14" />
      </svg>
    </button>
    }
  </div>

  <div class="flex-1">
    <p class="font-medium text-gray-800 text-end">
      {{ prod().mrp | currency : 'INR' : 'symbol' : '1.0-0' : 'en-IN' }}
    </p>
    @if(prod().variant && prod().variant?.id){
    <p class="font-medium text-gray-800 text-end">
      {{ prod().variant?.mrp | currency : 'INR' : 'symbol' : '1.0-0' : 'en-IN' }}
    </p>
    }

    <hr />

    <!-- <p class="font-medium text-gray-800 text-end">
      @let sum = (prod().mrp * prod().qty) +( ((prod().variant?.mrp) ? (prod().variant?.mrp) : 0) ??
      0);
      {{ sum | currency : 'INR' : 'symbol' : '1.0-0' : 'en-IN' }}
    </p> -->
  </div>
</div>


<div class="flex gap-5 mb-12">
  <div class="shrink-0">
    <img [src]="prod().imageUrl[0]" [alt]="prod().name" alt="" class="w-32 h-48 object-cover rounded-lg shadow-sm">
  </div>

  <div class="flex-grow flex justify-between">
    <div class="flex flex-col">
      <h3 class="text-xl font-bold text-black mb-1">{{ prod().name }}</h3>
      <div class="text-gray-400 text-sm font-light space-y-1">
        @if(prod().variant && prod().variant?.name){
        <p class="">
          {{ prod().variant?.name }}
        </p>
        }
        <p>Color - Blue <span class="mx-1 text-gray-300">|</span> Qty : 1</p>
        <p>Size - {{ prod().stock.name }}</p>
        <!-- Quantity Controls -->
        <div
          class="flex items-center justify-center gap-2 mt-2 border border-gray-300 rounded hover:bg-gray-100 w-[100px]">
          <button [disabled]="prod().qty == 1" class="w-6 h-6 flex items-center justify-center cursor-pointer"
            [ngClass]="{ 'cursor-not-allowed!': prod().qty == 1 }"
            (click)="alterQuantityCnt(CartUpdateOperation.decrease)">
            −
          </button>

          <span class="text-sm">{{ prod().qty }}</span>

          <!-- [ngClass]="{ 'cursor-not-allowed!': prod._isDisable }" -->
          <button class="w-6 h-6 flex items-center justify-center cursor-pointer"
            (click)="alterQuantityCnt(CartUpdateOperation.increase)">
            +
          </button>
        </div>
          <div class="flex gap-4 mt-5">
        @if(prod().isShowDelete){
        <button (click)="removeItemFromCart()" class="text-gray-400 hover:text-red-500 cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
          </svg>
        </button>
      }
      </div>
      </div>
    </div>

    <div class="flex flex-col text-right relative">
  
      <p class="text-gray-400 font-light mt-2">
        {{ prod().mrp | currency : 'INR' : 'symbol' : '1.0-0' : 'en-IN' }}
      </p>

      @if(prod().variant && prod().variant?.id){
      <p class="text-gray-400 font-light mt-1">
        {{ prod().variant?.mrp | currency : 'INR' : 'symbol' : '1.0-0' : 'en-IN' }}
      </p>
      }

      <div class="mt-auto">
        <div class="w-24 ml-auto h-px bg-gray-200 mb-2"></div>

        <p class="text-[#680C01] font-bold text-lg">
          @let sum = (prod().mrp * prod().qty) +( ((prod().variant?.mrp) ? (prod().variant?.mrp) : 0) ?? 0);
          {{ sum | currency : 'INR' : 'symbol' : '1.0-0' : 'en-IN' }}
        </p>
      </div>
    </div>
  </div>
</div>