<div class="flex items-start space-x-4 mb-6">
  <div class="relative">
    <img
      [src]="prod().imageUrl[0]"
      [alt]="prod().name"
      class="w-20 h-24 object-cover rounded-md border border-gray-200"
    />
  </div>
  <div class="flex-1">
    <h3 class="font-medium text-gray-800">{{ prod().name }}</h3>
    @if(prod().variant && prod().variant?.name){
    <p class="text-sm text-gray-500">
      {{ prod().variant?.name }}
    </p>
    }
    <p class="text-sm text-gray-500">Size: {{ prod().stock.name }} | Color: As shown</p>

    <!-- Quantity Controls -->
    <div
      class="flex items-center justify-center gap-2 mt-2 border border-gray-300 rounded hover:bg-gray-100 w-[100px]"
    >
      <button
        [disabled]="prod().qty"
        class="w-6 h-6 flex items-center justify-center cursor-pointer"
        [ngClass]="{ 'cursor-not-allowed!': prod().qty == 1 }"
        (click)="alterQuantityCnt(CartUpdateOperation.decrease)"
      >
        −
      </button>

      <span class="text-sm">{{ prod().qty }}</span>

      <!-- [ngClass]="{ 'cursor-not-allowed!': prod._isDisable }" -->
      <button
        class="w-6 h-6 flex items-center justify-center cursor-pointer"
        (click)="alterQuantityCnt(CartUpdateOperation.increase)"
      >
        +
      </button>
    </div>

    @if(prod().isShowDelete){
      <!-- Delete Icon (SVG) -->
      <button
        (click)="removeItemFromCart()"
        class="right-0 top-0 p-1 text-gray-400 hover:text-red-500 transition cursor-pointer"
      >
        <!-- [ngClass]="{ 'cursor-not-allowed!': prod._isDisable }" -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1
             0 00-1-1h-4a1 1 0 00-1 1v3m-4 0h14"
          />
        </svg>
      </button>
    }
  </div>

  <div class="flex-1">
    <p class="font-medium text-gray-800 text-end">
      {{ prod().mrp | currency : 'INR' : 'symbol' : '1.0-0' : 'en-IN' }}
    </p>
    @if(prod().variant && prod().variant?.id){
    <p class="font-medium text-gray-800 text-end">
      {{ prod().variant?.mrp | currency : 'INR' : 'symbol' : '1.0-0' : 'en-IN' }}
    </p>
    }

    <hr />

    <p class="font-medium text-gray-800 text-end">
      @let sum = (prod().mrp * prod().qty) +( ((prod().variant?.mrp) ? (prod().variant?.mrp) : 0) ??
      0);
      {{ sum | currency : 'INR' : 'symbol' : '1.0-0' : 'en-IN' }}
    </p>
  </div>
</div>
