<div class="w-full sm:max-w-full lg:max-w-7xl mx-auto rounded-xl p-4 bg-white card-shadow">
  <!-- Main Flex Container for the entire layout -->
  <div class="flex flex-col md:flex-row md:space-x-8">
    <div class="w-full lg:w-2/5 sm:w-2/5 mb-6 md:mb-0 p-6 bg-white rounded-xl">
      <div class="flex md:w-2/5 lg:space-x-14 sm:space-x-5">
        <!-- Categories -->
        <div class="mb-8 sm:mb-0">
          <h2 class="text-lg font-semibold mb-3 text-gray-800 tracking-wide">CATEGORIES</h2>
          <ul class="text-md text-gray-600 space-y-2 leading-[16px]">
            @for (item of categoryList(); track $index) {
            <li (mouseenter)="updateCollection(item)">
              <a
                [routerLink]="getProductPageUrl(null, item)"
                (click)="clearGender(); $event.stopPropagation()"
                class="hover:text-[#680c01] transition-colors cursor-pointer"
              >
                {{ item.name }}</a
              >
            </li>
            }
          </ul>
        </div>
        <!-- Collection -->
        <div>
          <h2 class="text-lg font-semibold mb-3 text-gray-800 tracking-wide">COLLECTION</h2>
          <ul class="text-sm text-gray-600 space-y-2">
            @for (item of collectionList(); track $index) {
            <li>
              <a
                [routerLink]="getProductPageUrl(item, null)"
                (click)="clearGender(); $event.stopPropagation()"
                class="hover:text-[#680c01] transition-colors cursor-pointer"
                >{{ item.name }}</a
              >
            </li>
            }
          </ul>
        </div>
      </div>
    </div>

    <!-- Right Section: Product Grid -->
    <!-- Using flexbox for the product grid to make it a single line with exactly 4 blocks -->
    <div class="w-full sm:w-3/5 lg:w-3/5 flex flex-row space-x-4 md:space-x-8">
      @for(product of productList(); track product?.id){
      <div class="flex-1 bg-white rounded[10px]l overflow-hidden" (click)="routeToProductDetail(product.id)">
        <img
          [src]="product?.productURL"
          [alt]="'Saree' + product?.id"
          class="w-full h-full object-cover rounded-[10px] cursor-pointer"
        />
      </div>
      }
    </div>
  </div>
</div>
