<div class="bg-white rounded-xl shadow-2xl w-full p-6">
  <!-- Title -->
  <p class="lg:text-xl md:text-lg sm:text-md text-black font-semibold mb-4">Add Address</p>

  <!-- Form -->
  <form class="space-y-4" [formGroup]="addressForm">
    <!-- Country / Region -->
    <div>
      <select
        libValidateControl
        [formControl]="addressForm.controls.country"
        (change)="onCountryChange()"
        class="w-full border border-gray-200 rounded-lg px-2 py-3 focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder-gray-300"
      >
        <option [ngValue]="null" disabled selected>Country / Region</option>
        @for (item of countries; track $index){
        <option [ngValue]="item.name">{{ item.name }}</option>
        }
      </select>
    </div>

    <!-- First & Last Name -->
    <div class="flex gap-4">
      <input
        type="text"
        placeholder="First Name"
        libValidateControl
        [formControl]="addressForm.controls.firstName" minlength="3" maxlength="15"
        class="flex-1 border border-gray-200 rounded-lg px-2 py-3 focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder-gray-300"
      />
      <input
        type="text"
        placeholder="Last Name"
        libValidateControl
        [formControl]="addressForm.controls.lastName" minlength="3" maxlength="15"
        class="flex-1 border border-gray-200 rounded-lg px-2 py-3 focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder-gray-300"
      />
    </div>

    <!-- Address -->
    <div>
      <input
        type="text"
        placeholder="Address"
        libValidateControl
        [formControl]="addressForm.controls.address"  maxlength="70"
        class="w-full border border-gray-200 rounded-lg px-2 py-3 focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder-gray-300"
      />
    </div>

    <!-- Apartment / Suite -->
    <div>
      <input
        type="text"
        placeholder="Apartment, suite"
        libValidateControl maxlength="70"
        [formControl]="addressForm.controls.apartment"
        class="w-full border border-gray-200 rounded-lg px-2 py-3 focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder-gray-300"
      />
    </div>

    <!-- City, State, PIN Code -->
    <div class="flex gap-4">
      <select
        libValidateControl
        [formControl]="addressForm.controls.city"
        class="flex-1 border border-gray-200 rounded-lg px-2 py-3 focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder-gray-300"
      >
        <option [ngValue]="null" disabled selected>city</option>
        @for (item of cities; track $index){
        <option [ngValue]="item">{{ item }}</option>
        }
      </select>

      <select
        libValidateControl
        [formControl]="addressForm.controls.state"
        (change)="onStateChange()"
        class="flex-1 border border-gray-200 rounded-lg px-2 py-3 focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder-gray-300"
      >
        <option [ngValue]="null" disabled selected>State</option>
        @for (item of states; track $index){
        <option [ngValue]="item">{{ item }}</option>
        }
      </select>
      <input
        type="text"
        placeholder="PIN Code" maxlength="6" minlength="6"
        libValidateControl maxlength="6" minlength="6" contactValidators
        [formControl]="addressForm.controls.pinCode"
        class="flex-1 border border-gray-200 rounded-lg px-2 py-3 focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder-gray-300"
      />
    </div>

    <!-- Phone Number -->
    <div class="flex gapx-2 flex-row border border-gray-200 w-full rounded-lg">
      <input
        type="text"
        placeholder="Phone Number"
        libValidateControl
        [formControl]="addressForm.controls.contact" contactValidators minlength="10" maxlength="10"
        class="flex-1 rounded-lg px-2 py-3 focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder-gray-300 w-full"
      />
      <button type="button" class="flex items-center gap-1 px-3">
        <img
          src="https://upload.wikimedia.org/wikipedia/en/4/41/Flag_of_India.svg"
          alt="IN"
          class="w-5 h-3"
        />
        <span>+91</span>
      </button>
    </div>

    <!-- Buttons -->
    <div class="flex justify-center gap-3 mt-4">
      <lib-app-loading-button
        [isLoading]="isLoading()"
        [label]="id === 0 ? 'Save' : 'Update'"
        [isButtonDisabled]="false"
        (clicked)="onAddressSubmit()"
      ></lib-app-loading-button>
      <lib-generic-cancel-button (cancel)="close()"></lib-generic-cancel-button>
    </div>
  </form>
</div>
