.scrollbar-thin {
  scrollbar-width: thin;
}

.magnified-view {
  width: 300px; /* Adjust as needed */
  height: 300px; /* Adjust as needed */
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 100;
  pointer-events: none; // Allows mouse events to pass through to the image below
  transform: translateZ(0); // Helps with rendering in some browsers
  border-radius: 8px; // Rounded corners for consistency with other elements
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); // Subtle shadow
  // Initial positioning - will be updated by JS
  position: absolute;
}

.lens {
  position: absolute;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.4);
  pointer-events: none;
}

#main-product-image {
  display: block; // Removes extra space below the image
  max-width: 100%;
  height: auto;
}