<div
  class="p-6 bg-gray-50 min-h-screen"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScrollDown()"
>
  <!-- Search Bar -->
  <div class="max-w-7xl mx-auto mb-6">
    <div class="flex items-center">
      <input
        type="text"
        placeholder="Search Your Orders here"
        [formControl]="searchText"
        (keyup.enter)="searchForText()"
        class="flex-1 p-2 border border-gray-300 rounded-l-md focus:outline-none focus:ring-2 focus:ring-red-700"
      />
      <button
        type="button"
        class="bg-red-900 text-white px-4 py-2 rounded-r-md hover:bg-red-800 cursor-pointer"
        (click)="searchForText()"
      >
        Search Orders
      </button>
    </div>
  </div>

  @if(isShowloader()){ @let count = [1, 2, 3, 4]; @for (item of count; track $index) {
  <div
    class="max-w-7xl bg-[#F5F5F5C4] mx-auto border border-gray-100 rounded-md p-6 flex flex-col lg:flex-row items-start lg:items-center justify-between gap-6"
  >
    <!-- Left: Image + details -->
    <div class="flex gap-4 w-full lg:w-2/5">
      <div class="w-20 h-24 flex-shrink-0">
        <ngx-skeleton-loader
          appearance="square"
          [theme]="{ height: '96px', width: '80px', borderRadius: '6px' }"
        ></ngx-skeleton-loader>
      </div>

      <div class="flex flex-col justify-between py-1 gap-2 w-full">
        <ngx-skeleton-loader [theme]="{ height: '16px', width: '60%' }"></ngx-skeleton-loader>

        <ngx-skeleton-loader [theme]="{ height: '12px', width: '70%' }"></ngx-skeleton-loader>

        <ngx-skeleton-loader [theme]="{ height: '12px', width: '40%' }"></ngx-skeleton-loader>
      </div>
    </div>

    <!-- Price -->
    <div class="w-full lg:w-1/6">
      <ngx-skeleton-loader [theme]="{ height: '18px', width: '80px' }"></ngx-skeleton-loader>
    </div>

    <!-- Status -->
    <div class="w-full lg:w-1/4 flex flex-col gap-2">
      <ngx-skeleton-loader [theme]="{ height: '14px', width: '70%' }"></ngx-skeleton-loader>

      <ngx-skeleton-loader [theme]="{ height: '12px', width: '90%' }"></ngx-skeleton-loader>

      <ngx-skeleton-loader [theme]="{ height: '12px', width: '50%' }"></ngx-skeleton-loader>
    </div>

    <!-- Buttons -->
    <div class="w-full lg:w-auto flex flex-row lg:flex-col xl:flex-row gap-3 mt-2 lg:mt-0">
      <ngx-skeleton-loader
        [theme]="{ height: '32px', width: '100px', borderRadius: '6px' }"
      ></ngx-skeleton-loader>

      <ngx-skeleton-loader
        [theme]="{ height: '32px', width: '100px', borderRadius: '6px' }"
      ></ngx-skeleton-loader>
    </div>
  </div>
  } } @else { @for (item of orders; track $index) {
  <div
    class="max-w-7xl bg-[#F5F5F5C4] mx-auto border border-gray-100 rounded-md p-6 flex flex-col lg:flex-row items-start lg:items-center justify-between gap-6"
  >
    <div class="flex gap-4 w-full lg:w-2/5">
      <div class="w-20 h-24 flex-shrink-0">
        <img
          [src]="item.productURL[0]"
          alt="Dress"
          class="w-full h-full object-cover rounded-md border border-gray-200"
        />
      </div>

      <div class="flex flex-col py-1">
        <h3 class="text-gray-900 font-medium text-base leading-tight !cursor-pointer" (click)="orderDetail($index)">
          {{ item.orderNo }}
        </h3>
        <div class="text-gray-700 text-sm mt-1">
          <span>Placed on : </span>
          <span class="mx-1 text-gray-500">{{ item.orderDate | date : 'd MMMM yyyy' }}</span>
          <!-- <span>Size : 32</span> -->
        </div>
        <!-- <div class="text-gray-500 text-sm mt-0.5">Quantity : 1</div> -->
      </div>
    </div>

    <div class="w-full lg:w-1/6">
      <span class="text-gray-900 font-medium text-lg">{{
        item.totalAmount | currency : 'INR' : 'symbol' : '1.0-0' : 'en-IN'
      }}</span>
    </div>

    <div class="w-full lg:w-1/4 flex flex-col gap-1">
      <div class="flex items-center gap-2">
        <div class="w-2.5 h-2.5 rounded-full bg-green-600"></div>
        <span class="font-semibold text-gray-900 text-sm">Delivered On Dec 05</span>
      </div>
      <p class="text-xs text-gray-500 pl-4">{{ getTextByStatus(item.status) }}</p>

      <div class="flex items-center gap-1 pl-4 mt-1 cursor-pointer hover:opacity-80 transition">
        <i class="fas fa-star text-blue-500 text-xs"></i>
        <span class="text-blue-500 text-xs font-medium" (click)="rateAndReview($index)"
          >Rate And Review Product</span
        >
      </div>
    </div>

    <div class="w-full lg:w-auto flex flex-row lg:flex-col xl:flex-row gap-3 mt-2 lg:mt-0">
      <button
        (click)="orderDetail($index)"
        class="px-4 cursor-pointer py-2 bg-green-100 text-green-700 text-xs font-semibold rounded hover:bg-green-200 transition whitespace-nowrap"
      >
        Track Order
      </button>

      @if(item.status == EOrderStatus.Placed){
      <lib-app-loading-button
        [isLoading]="item.id == payloadOrderCancel.orderId"
        [type]="'button'"
        (clicked)="cancelOrder($index)"
        label="Cancel Order"
        [conditionalClass]="'cursor-not-allowed!'"
        [addConditionClass]="item.id == payloadOrderCancel.orderId"
        [btnClass]="
          'px-4 py-2 cursor-pointer bg-red-100 text-red-600 text-xs font-semibold rounded hover:bg-red-200 transition whitespace-nowrap'
        "
      >
      </lib-app-loading-button>
      }@else {
      <span
        class="px-4 py-2 cursor-pointer bg-red-100 text-red-600 text-xs font-semibold rounded transition whitespace-nowrap"
      >
        {{ item.status == EOrderStatus.Cancel ? 'Cancelled' : item.status }}
      </span>
      }
    </div>
  </div>
  } @if(!orders.length){
  <div class="bg-gray-50 max-h-screen flex items-center justify-center sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8 text-center">
      <!-- Empty state illustration -->
      <div class="mx-auto h-45 w-45">
        <svg
          class="h-full w-full text-gray-400"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1"
            d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4"
          />
        </svg>
      </div>

      <!-- Main heading -->
      <div class="space-y-4">
        <h1 class="text-4xl font-bold text-gray-900 pb-0">No orders yet</h1>
        <p class="text-xl text-gray-600 pb-0">It looks like you haven't placed any orders.</p>
        <p class="text-lg text-gray-500 pb-0">
          Once you make your first purchase, your orders will appear here.
        </p>
      </div>

      <!-- Call to action -->
      <div class="pt-6">
        <a
          routerLink="/"
          class="inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-lg shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-200"
        >
          Start Shopping
        </a>
      </div>
    </div>
  </div>
  } }
</div>
