@keyframes slideDownFadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
    visibility: hidden;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
  }
}

@keyframes slideUpFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
  to {
    opacity: 0;
    transform: translateY(10px);
    visibility: hidden;
  }
}
.dropdown-menu {
  animation: slideDownFadeIn 0.3s ease-out forwards;
}

.close {
  animation: slideUpFadeOut 0.3s ease-in forwards;
}