<div class="p-8 !pt-0">
  <h2 class="text-lg font-bold uppercase mb-4 tracking-widest">Register</h2>

  <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <div class="flex flex-col">
      <div class="grid grid-cols-12 w-full gap-4 mb-5">
        <div class="col-span-12">
          <label class="block text-sm font-bold text-gray-700 uppercase tracking-widest mb-1"
            >First name</label
          >
          <input
            type="text"
            [formControl]="registerForm.controls.firstName"
            libValidateControl
            class="w-full rounded-[5px] p-2 border border-gray-400 focus:outline-none focus:border-red-800 transition-colors duration-200"
          />
        </div>
      </div>

      <div class="grid grid-cols-12 w-full gap-4 mb-3">
        <div class="col-span-12">
          <label class="block text-sm font-bold text-gray-700 uppercase tracking-widest mb-1"
            >Contact</label
          >
          <input
            type="text"
            [formControl]="registerForm.controls.contact"
            numberOnlyValidators
            class="w-full rounded-[5px] p-2 border border-gray-400 focus:outline-none focus:border-red-800 transition-colors duration-200"
          />
        </div>
      </div>

      <div class="grid grid-cols-12 w-full gap-4 mb-3">
        <div class="col-span-12">
          <label class="block text-sm font-bold text-gray-700 uppercase tracking-widest mb-1"
            >Password</label
          >
          <input
            type="text"
            [formControl]="registerForm.controls.password"
            libValidateControl
            class="w-full rounded-[5px] p-2 border border-gray-400 focus:outline-none focus:border-red-800 transition-colors duration-200"
          />
        </div>
        <div class="col-span-12 hidden">
          <label class="block text-sm font-bold text-gray-700 uppercase tracking-widest mb-1"
            >Confirm Password</label
          >
          <input
            type="text"
            [formControl]="registerForm.controls.password"
            libValidateControl
            class="w-full rounded-[5px] p-2 border border-gray-400 focus:outline-none focus:border-red-800 transition-colors duration-200"
          />
        </div>
      </div>

      <div class="flex items-center justify-between">
        @if(isShowloader()){
        <app-button-loader></app-button-loader>
        } @else {
        <button
          type="submit"
          class="bg-red-800 rounded-[5px] text-white font-semibold py-3 px-6 hover:bg-red-900 transition-colors duration-300 uppercase cursor-pointer"
        >
          Register
        </button>
        }

        <span
          href="#"
          class="text-sm font-medium text-gray-600 transition-colors duration-300 uppercase tracking-widest"
        >
          Already Have Account?
          <a class="text-red-800 cursor-pointer" (click)="openLoginForm()">Login</a>
        </span>
      </div>
    </div>
  </form>
</div>
