<div #loginContainer class="fixed inset-0 hidden z-1000">
  <!-- Transparent White Overlay -->
  <div
    id="overlay"
    class="absolute inset-0 bg-white opacity-50 transition-opacity duration-500"
  ></div>

  <!-- Login Form with Slide Animation -->
  <div
    #loginForm
    class="fixed top-0 right-0 w-full md:w-[35%] h-full bg-white shadow-2xl transform translate-x-full transition-transform duration-500 p-8 flex flex-col"
  >
     <div class="flex justify-end items-center">
      <button [disabled]="isShowLoader()" (click)="closeForm()" class="text-gray-500 hover:text-gray-800 text-2xl" [ngClass]="isShowLoader()?'cursor-not-allowed':'cursor-pointer'">&times;</button>
    </div>
    
    @switch (currentAuthView()) {
      @case (EAuthManager.register) {
        <app-register [(authType)]="currentAuthView" [(isShowloader)]="isShowLoader"></app-register>
      }
      @default {
        <app-login [(authType)]="currentAuthView" [(isShowloader)]="isShowLoader" (closeForm)="closeForm()"></app-login>
      }
    }
  </div>
</div>
