<div class="flex items-center justify-center">
  <div class="relative bg-white rounded-2xl shadow-2xl p-3 md:p-12 w-full">
    <button
      (click)="close()"
      class="md:absolute top-4 right-4 p-2 text-gray-600 hover:text-gray-800 transition-colors duration-200 sticky z-1000 btn-close cursor-pointer"
    >
      <svg
        class="md:w-8 md:h-8 h-4 w-4"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        ></path>
      </svg>
    </button>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-8 md:w-auto w-full">
      <div class="flex-shrink-0 md:h-auto h-[200px]">
        <img
          id="modal-product-image"
          [src]="productDetail().productURL[0]"
          alt="Product Image"
          class="w-full h-full object-cover md:h-auto rounded-xl shadow-lg sticky top-[50px]"
        />
      </div>

      <div class="flex flex-col space-y-4">
        <h2 class="text-xl md:text-4xl font-bold text-gray-900 leading-[1] mb-1">
          {{productDetail().name}}
        </h2>
        <p class="text-sm md:text-xl text-[#0000008C] mb-1">
            {{ productDetail().mrp | currency:'INR':'symbol':'1.0-0':'en-IN' }}
        </p>
        <p class="text-sm text-[#0000008C] mb-1">(MRP inclusive of all Taxes)</p>

        <!-- <div class="space-y-2 mt-2">
          <div>
            <p class="font-semibold text-[#0000008C] mb-1 md:text-md text-sm">SIZE</p>
            <div class="flex flex-wrap gap-2">
              <button
                [ngClass]="true ? ['bg-gray-200', 'border-2', 'border-[#737373]'] : []"
                class="md:px-4 md:py-2 px-2 py-1 border border-gray-300 rounded-[5px] text-sm text-[#0000008C] hover:bg-gray-200 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
              >
                S
              </button>
              <button
                class="md:px-4 md:py-2 px-2 py-1 border border-gray-300 rounded-[5px] text-sm text-[#0000008C] hover:bg-gray-200 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
              >
                M
              </button>
              <button
                class="md:px-4 md:py-2 px-2 py-1 border border-gray-300 rounded-[5px] text-sm text-[#0000008C] hover:bg-gray-200 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
              >
                L
              </button>
              <button
                class="md:px-4 md:py-2 px-2 py-1 border border-gray-300 rounded-[5px] text-sm text-[#0000008C] hover:bg-gray-200 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
              >
                XL
              </button>
              <button
                class="md:px-4 md:py-2 px-2 py-1 border border-gray-300 rounded-[5px] text-sm text-[#0000008C] hover:bg-gray-200 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
              >
                XXL
              </button>
            </div>
          </div>

          <div>
            <p class="font-semibold text-[#0000008C] mb-1 md:text-md text-sm">COLOR</p>
            <div class="flex flex-wrap gap-2">
              <button
                class="px-4 py-2 border border-gray-300 rounded-[0px] text-sm text-[#0000008C] hover:bg-gray-200 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 rounded-[5px]"
              >
                Ruby Red
              </button>
            </div>
          </div>

          <div>
            <p class="font-semibold text-[#0000008C] mb-1 md:text-md text-sm">Blouse Piece</p>
            <div class="flex flex-wrap gap-2">
              <button
                class="md:px-4 md:py-2 py-1 px-2 border border-gray-300 rounded-[5px] text-sm text-[#0000008C] hover:bg-gray-200 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
              >
                Blouse Piece
              </button>
              <button
                class="md:px-4 md:py-2 py-1 px-2 border border-gray-300 rounded-[5px] text-sm text-[#0000008C] hover:bg-gray-200 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
              >
                Styled/Stitched Blouse
              </button>
            </div>
          </div>

          <div>
            <p class="font-semibold text-[#0000008C] mb-1 md:text-md text-sm">Custom Tailor</p>
            <div class="relative">
              <select
                class="block w-auto px-4 py-2 pr-8 border border-gray-300 rounded-[5px] text-sm text-[#0000008C] bg-white appearance-none focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
              >
                <option>Tailor Name</option>
              </select>
            </div>
          </div>
        </div> -->
        <div class="space-y-4 mt-6">
          <div>
            <p class="font-semibold text-gray-800 mb-2">SIZE</p>
            <div class="flex flex-wrap gap-2">
              @for (stockSize of stockSizeArrayWithIds; let i = $index ; track stockSize.value) {
              @let radioId = 'radio' + i;
              <input
                type="radio"
                name="stockSizeSelection"
                [id]="radioId"
                [value]="stockSize.stockId"
                class="hidden peer"
                [formControl]="cartForm.controls.stockId"
              />
              <label
                [for]="radioId"
                class="cursor-pointer px-4 py-2 border rounded"
                [ngClass]="{
                  ' peer-checked:bg-[#680C01] peer-checked:text-white':
                    stockSize.stockId == cartForm.value.stockId
                }"
                [ngClass]="{ 'cursor-not-allowed! bg-gray-200 line-through': !stockSize.quantity }"
              >
                {{ stockSize.value }}
              </label>
              }
            </div>
          </div>

          <!-- <div class="">
            <p class="font-semibold text-gray-800 mb-2">COLOR</p>
            <div class="flex flex-wrap gap-2">
              @for (item of productDetail().color; track $index) {
              <button
                class="p-3 w-10 h-10 border cursor-pointer border-gray-300 rounded-full text-sm text-gray-700 hover:bg-gray-200 transition-colors duration-200 flex items-center justify-center focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
                [style.backgroundColor]="item"
              ></button>
              }
            </div>
          </div> -->

          <!-- variant -->
          @if(productDetail().variants.length){
          <div>
            <p class="font-semibold text-gray-800 mb-2">Variants</p>
            <div class="flex flex-wrap gap-2">
              <div class="flex flex-wrap gap-2">
                @for (variant of productDetail().variants; track $index) {
                <input
                  type="radio"
                  id="variant-{{ variant.id }}"
                  name="variantSelection"
                  [value]="variant.stocks.id"
                  [formControl]="cartForm.controls.variantStockId"
                  class="hidden peer"
                />

                <label
                  for="variant-{{ variant.id }}"
                  class="cursor-pointer px-4 py-2 border border-gray-300 rounded-[5px] text-sm text-gray-700 focus:outline-none"
                  [ngClass]="{
                    'peer-checked:bg-[#680C01] peer-checked:text-white peer-checked:border-[#680C01]':
                      cartForm.value.variantStockId == variant.stocks.id
                  }"
                >
                  {{ variant.name }}
                </label>
                }
              </div>
            </div>
          </div>
          }

          <!-- <div>
            <p class="font-semibold text-gray-800 mb-2">Blouse Piece</p>
            <div class="flex flex-wrap gap-2">
              <button
                class="px-4 py-2 border border-gray-300 rounded-[5px] text-sm text-white bg-[#680C01] hover:bg-gray-200 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
              >
                Blouse Piece
              </button>
              <button
                class="px-4 py-2 border border-gray-300 rounded-[5px] text-sm text-gray-700 hover:bg-gray-200 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-500"
              >
                Styled/Stitched Blouse
              </button>
            </div>
          </div> -->

          <!-- <div>
            <p class="font-semibold text-gray-800 mb-2">Custom Tailor</p>
            <div class="relative">
              <select
                class="block w-auto px-4 py-2 pr-8 border border-gray-300 rounded-[5px] text-sm text-gray-700 bg-white appearance-none focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
              >
                <option>Tailor Name</option>
              </select>
            </div>
          </div> -->

          <!-- Input Number -->

          <p class="font-semibold text-gray-800 mb-2">Quantity</p>
          <div class="py-2 px-3 inline-block bg-white border border-gray-200 rounded-lg">
            <div class="flex items-center gap-x-1.5">
              <button
                type="button"
                (click)="alterQuantityCnt(CartAlterEnum.decrease)"
                class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-md border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none cursor-pointer"
                [disabled]="(cartForm.controls.quantity.value ?? 0) <= 1"
              >
                <svg
                  class="shrink-0 size-3.5"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M5 12h14"></path>
                </svg>
              </button>
              <input
                readonly
                class="p-0 w-6 bg-transparent border-0 text-gray-800 text-center focus:ring-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
                style="-moz-appearance: textfield"
                type="number"
                [formControl]="cartForm.controls.quantity"
              />
              <button
                type="button"
                (click)="alterQuantityCnt(CartAlterEnum.increase)"
                class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-md border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none cursor-pointer"
              >
                <svg
                  class="shrink-0 size-3.5"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M5 12h14"></path>
                  <path d="M12 5v14"></path>
                </svg>
              </button>
            </div>
          </div>
          <!-- End Input Number -->
        </div>
        <div class="mt-8 flex flex-col space-y-4">
          <lib-app-loading-button
            [isLoading]="isBtnLoader()"
            label="ADD TO CART"
            type="submit"
            (clicked)="addToCartWithDescription()"
            [btnClass]="
              'w-full cursor-pointer px-6 py-3 font-semibold text-black border border-gray-300 bg-white rounded-[5px] hover:bg-gray-300 transition-colors duration-200 focus:outline-none'
            "
            [conditionalClass]="'cursor-not-allowed!'"
            [addConditionClass]="!cartForm.value.stockId"
            [isButtonDisabled]="!cartForm.value.stockId"
          ></lib-app-loading-button>

          <button
            [disabled]="!cartForm.value.stockId"
            class="cursor-pointer px-6 py-3 font-semibold text-white bg-[#680C01] rounded-[5px] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
            [ngClass]="{ 'cursor-not-allowed!': !cartForm.value.stockId }"
          >
            BUY IT NOW
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
