:host {
  display: block;
  width: 100%;
  height: 100%;
}

.modal-content {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

.btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  
  @media (max-width: 767px) {
    position: sticky;
    top: 0.5rem;
    margin-left: auto;
    display: block;
    width: fit-content;
  }
}